.todoWrapper {
    width: 30vw;
    
    background-color: #22222C;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    /* border: 1px solid #636e72; */
    flex: 0.5;
    color: white;
}

.todoListWrapper {
    height: 100px;
    overflow-y: scroll;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.todoListDroppable {
    flex-grow: 1;
}

.todo {
    border-bottom: 1px solid #6E7181;
    text-align: right;
    width: 100%;
}

.todoSeperator {
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.todoHeader {
    font-size: 20px;
}

.todoText {
    padding-right: 10px;
}