.journalWrapper {
    width: 100vw;
    
    background-color: #22222C;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    /* border: 1px solid #636e72; */
    height: 60vh;
    color: white;
    input {
        width: 70%;
        display: block;
    }
}
